/* item styling */
.title-card-product {
  height: 3.75em;
  border-bottom: 1px solid #e1e8ee;
  padding: 1.25em 1.75em;
  color: #5e6977;
  font-size: 1.125em;
  font-weight: 400;
}
.item-card-product {
  padding: 1.25em 1.75em;
  height: 7.5em;
  display: flex;
}
.item-card-product:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.buttons-card-product {
  position: relative;
  padding-top: 1.75em;
  margin-right: 3.5em;
}
.delete-btn-card-product,
.like-btn-card-product {
  display: inline-block;
  cursor: pointer;
}
.delete-btn-card-product {
  width: 18px;
  height: 17px;
  background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg")
    no-repeat center;
}
.like-btn-card-product {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url("https://designmodo.com/demo/shopping-cart/twitter-heart.png");
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}

.is-active-card-product {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

.image-card-product {
  margin-right: 50px;
}
.description-card-product {
  padding-top: 10px;
  margin-right: 60px;
  /* width: 115px; */
}
.description-card-product span {
  display: block;
  font-size: 1em;
  color: #43484d;
  font-weight: 400;
}
.description-card-product span:first-child {
  margin-bottom: 5px;
}
.description-card-product span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity-card-product {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity-card-product input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 1em;
  color: #43484d;
  font-weight: 300;
}
button[class*="btn-card-product"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn-card-product img {
  margin-bottom: 3px;
}
.plus-btn-card-product img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}

.total-price-card-product {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 1em;
  color: #43484d;
  font-weight: 300;
}

/* media queries */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item-card-product {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image-card-product img {
    width: 50%;
  }
  .image-card-product,
  .quantity-card-product,
  .description-card-product {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons-card-product {
    margin-right: 20px;
  }
}
